<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-2">
      <h1>Search Cities</h1>
      <app-search-cities (submitOut)="search($event)"></app-search-cities>
    </div>

    <div class="col-12 my-2">
      <div *ngIf="!isApiError && searchResults?.length > 0; else noResults">
        <div class="alert alert-success">
          <p>Search Results Found</p>
        </div>
        <div *ngFor="let result of searchResults">
          <p>Geometry Location</p>
          <ul>
            <li>longitude: {{result?.geometry?.location?.lng}}</li>
            <li>latitude: {{result?.geometry?.location?.lat}}</li>
          </ul>
          <p>location Type: {{result?.geometry?.location_type}}</p>
          <p>View Ports</p>
          <ul>
            <li>North East
              <ul>
                <li>Longitude: {{result?.geometry?.viewport?.northeast?.lng}}</li>
                <li>Latitude: {{result?.geometry?.viewport?.northeast?.lat}}</li>
              </ul>
            </li>
            <li>South West
              <ul>
                <li>Longitude: {{result?.geometry?.viewport?.southwest?.lng}}</li>
                <li>Latitude: {{result?.geometry?.viewport?.southwest?.lat}}</li>
              </ul>
            </li>
          </ul>

          <p>Address Component</p>
          <ul>
            <li *ngFor="let address of result?.address_components">
              <p>Types</p>
              <ul>
                <li *ngFor="let type of result?.address_components?.types">{{type}}</li>
              </ul>
              <p>City Short Name: {{address?.short_name}}</p>
              <p>City Full Name: {{address?.long_name}}</p>
            </li>
          </ul>

          <p>Types</p>
          <ul>
            <li *ngFor="let type of result?.types">
              {{type}}
            </li>
          </ul>
        </div>
      </div>
      <ng-template #noResults>
        <p class="alert alert-danger" *ngIf="isSubmitted">No Results Found, Search with diffrent city
        </p>
      </ng-template>
    </div>
  </div>
</div>